html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: fixed;
}

.background {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.clock {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-frame {
    width: 30rem;
    height: 30rem;
    border-style: solid;
    border-color: white;
    border-width: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.clock-hand {
    background-color: black;
    transform-origin: 50% 100%;
    border-radius: 10% 10% 50% 50%;
    position: absolute;
    bottom: 13.5rem;
}

.hand-minute {
    height: 10rem;
    width: 0.7rem;
}

.hand-hour {
    height: 6rem;
    width: 0.9rem;
}

.hand-second {
    height: 12rem;
    width: 0.6rem;
    background-color: maroon;
}